extends pages/layouts/main.pug

block header
  .system__sidebar
    .system__sidebar-logos
      a.system__sign(href="/index.pug")
        img(src="/assets/images/winvestor-sign.svg")
      a.system__sign.rounded(href="#top")
        img(src="/assets/images/platform-icon.png")

    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#brand") Бренд
      .system__sidebar-nav-link.inner
        a(href="#audience") Аудитория
      .system__sidebar-nav-link.inner
        a(href="#values") Ценности
    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#syle") Фирменный стиль
      .system__sidebar-nav-link.inner
        a(href="#colour") Цвет
      .system__sidebar-nav-link.inner
        a(href="#logo") Логотип
      .system__sidebar-nav-link.inner
        a(href="#type") Типографика
      .system__sidebar-nav-link.inner
        a(href="#graphic") Графика


block content
  a.theme-button
  .wds__stack-M
  .wds__wrapper.wds__shift-right#top
    h1#brand Винвестор
    p.wds__lead Винвестор — это онлайн-пространство для покупки и продажи финансовых продуктов. Мы предлагаем инструменты долгосрочного инвестирования, не обещаем заоблачной прибыли, нормально объясняем, действуем строго в рамках российских законов.
    p.wds__lead Мы создаём будущее с новой культурой потребления инвестиционных инструментов, для начала в России.

  .wds__wrapper.wds__shift-right
    .wds__grid
      .wds__grid-cell
        .future-card
          .future-card-image(style="background-image: url('/assets//images/package.jpg')")
          .future-card-text-plate
            p Мы считаем, что в 2025 году в России 20% населения будут владеть инвестиционными продуктами,
            h3 а покупать их станет <mark>не сложнее, чем продукты в супермаркете</mark>.

      .wds__grid-cell
        .future-card
          .future-card-image(style="background-image: url('/assets//images/winwestor.jpg')")
          .future-card-text-plate
            p Мы предоставим биржевые и внебиржевые инструменты ключевых брокеров и управляющих компаний, позволяя собрать 
            h3 <mark>единый портфель</mark> бумаг от разных поставщиков <mark>в одном личном кабинете</mark>.

      .wds__section
        h2(id="audience") Аудитория
        p Главный признак: есть деньги
        p Это значит:
        ul
          li Есть вклад, или акции-ПИФы, купленные в мобильном приложении банка без погружения в тему, не вижу проблемы
          li Есть свободные деньги, есть проблема: не знаю, куда деть
          li Есть деньги, но не знаю об этом, думаю, что денег нет
          li 20-45 лет, Москва, СПб или столица региона

        p Портрет: бизнесмен, топ-менеджер или молодой профессионал

        p Сегменты:
        ul
          li рано задумались о финансовом будущем (потенциальные клиенты)
          li недавно начал зарабатывать, задумался о финансах (должны быть наши)

        p Не наш сегмент: те, кто пользуются давно и постоянно. У нас для них пока нет продукта.

  .wds__wrapper.wds__shift-right    
    .wds__text

      .wds__section
        h2(id="values") Ценности
        p Это то, на что мы опираемся в принятии решений. То, в чём мы не сомневаемся. Продуктовые и маркетинговые гипотезы не должны противоречить ценностям.
        .wds__stack-S
        h3 Честность
        p Мы не обещаем невыполнимого. У нас нигде нет «мелкого шрифта». Не пытаемся принять решение за клиента. Не пытаемся воспользоваться его неопытностью, готовы подстраховать. Точный. Мы не упрощаем, а говорим корректно и объясняем как есть. Говорим на одном языке и с профессионалами, и с новичками. Не используем сленг в интерфейсах, чтобы не выглядело сложно, непонятно, двусмысленно. Не употребляем слов, которые нужно гуглить. Объясняем сложные вещи простым языком. — Спокойный. Мы против импульсивных решений и азарта, против истерики. Мы за осознанные взвешенные решения. Не провоцируем тревожность, положительная интонация (?)

        .brandplatform-table

          .brand-rule
            .rule-no
              h5 Нет
              p Облигация — эмиссионная долговая ценная бумага, владелец которой имеет право получить от лица, её выпустившего, в оговорённый срок её номинальную стоимость...
            .rule-yes
              h5 Да
              p При покупке облигации вы даёте в долг государству или компании, которая её выпустила. За то, что вашими деньгами пользуются, вы будете получать выплаты.
            .rule-comment
              h5 Почему
              p Объясняем сложные вещи простым языком. Не используем сложные термины и канцелярит там, где это можно не делать. Говорим понятно.

          .brand-rule
              .rule-no
                h5 Нет
                p «Структурка» в интерфейсе
              .rule-yes
                h5 Да
                p «Структурные продукты» в интерфейсе
              .rule-comment
                h5 Почему
                p Не используем сленг в интерфейсах, чтобы не выглядело сложно, непонятно, двусмысленно.

          .brand-rule
            .rule-no
              h5 Нет
              p Конъюнктура рынка
            .rule-yes
              h5 Да
              p Ситуация в экономике
            .rule-comment
              h5 Почему
              p Не употребляем слова, которые нужно гуглить.

          .brand-rule
            .rule-no
              h5 Нет
              p Ограниченный выбор: «Осталось только 99 премиум-аккаунтов со скидкой 50%!»
            .rule-yes
              h5 Да
              p Ограниченный выбор: «Первым 100 зарегистрированным — акция в подарок».
            .rule-comment
              h5 Почему
              p Не создаем видимость, что продукт вот-вот закончится, если это не так. Говорим, как есть.

          .brand-rule
            .rule-no
              h5 Нет
              p Это то, что вам нужно!
            .rule-yes
              h5 Да
              p Подходит вашему риск-профилю. Рекомендуем!
            .rule-comment
              h5 Почему
              p Не принимаем решение за клиента, не формулируем директивно.

        h3 Дружелюбие
        p Для нас не бывает глупых вопросов. Мы хотим, чтобы клиенты любого уровня подготовки чувствовали себя комфортно.
        p Мы не оставляем в недоумении. Не отправляем клиента на самостоятельные поиски, а рассказываем, что потребуется от клиента на каждом шаге.

        .brandplatform-table
          .brand-rule
            .rule-no
              h5 Нет
              p Вам нужно будет предоставить учредительные документы.
            .rule-yes
              h5 Да
              p Вам понадобятся эти документы: 1. — 2. — 3. —
            .rule-comment
              h5 Почему
              p Пусть информации будет достаточно. Мы не отправляем клиента на самостоятельные поиски, не оставляем в недоумении. Рассказываем, что именно потребуется. Чтобы было понятно без дополнительных вопросов.

          .brand-rule
            .rule-no
              h5 Нет
              p Вы неправильно делаете.
            .rule-yes
              h5 Да
              p Сделайте, пожалуйста, вот так...
            .rule-comment
              h5 Почему
              p Не говорим, что клиент делает что-то не так. Подсказываем, как сделать лучше. Если в сообщении можно услышать «ты дурак» — кто-то обязательно услышит. Всегда надо перепроверить!

        h3 Надёжность
        p Не предлагаем заоблачные прибыли и непрозрачные финансовые инструменты. Работаем только с проверенными компаниями. Партнёры Винвестора зарегистрированы в России и работают по российскому праву (Работаем в рамках Российской юрисдикции).

        .brandplatform-table
          .brand-rule
              .rule-no
                h5 Нет
                p Зарабатывайте 100% в месяц на криптовалюте.
              .rule-yes
                h5 Да
                p Инвестируйте в инструменты, которые соответствуют вашим финансовым целям.
              .rule-comment
                h5 Почему
                p Не предлагаем непрозрачные финансовые инструменты.

          .brand-rule
            .rule-no
              h5 Нет
              p Ваша прибыль за неделю составила 5%, это 260% годовых!
            .rule-yes
              h5 Да
              p Ваша прибыль за месяц составила 5%. Поздравляем, отличный результат!
            .rule-comment
              h5 Почему
              p Не обещаем заоблачную прибыль.

  .wds__wrapper.wds__shift-right
    .wds__text
      section#syle
        figure
          img(src="/assets/images/winvestor-main-logo-ru.svg")
      section
        h2#colour Цвет
        p Есть три фирменные цветовые палитры: базовая, расширенная и техническая.
        p Базовая — это оттенки жёлтого, они используются только в графической части логотипа. Расширенная палитра — для иллюстраций и фирменной графики. Техническая — для интерфейсных компонентов дизайн-системы.

        section
          p Базовая палитра
          .palette
            .palette-bar(style="background-color: rgb(255,221,0)") RGB 255 221 0
            .palette-bar(style="background-color: rgb(255,231,0)") RGB 255 231 0
            .palette-bar(style="background-color: rgb(255,241,0)") RGB 255 241 0
            .palette-bar(style="background-color: rgb(255,248,128)") RGB 255 248 128
        section
          p Расширенная палитра
          .palette
            .palette-bar(style="background-color: rgb(20,150,255)") RGB 20 150 255
            .palette-bar(style="background-color: rgb(94,98,243)") RGB 94 98 243
            .palette-bar(style="background-color: rgb(115,43,151)") RGB 115 43 151
            .palette-bar(style="background-color: rgb(245,86,99)") RGB 245 86 99
            .palette-bar(style="background-color: rgb(46,200,134)") RGB 46 200 134
            .palette-bar(style="background-color: rgb(70,78,90)") RGB 70 78 90
            .palette-bar(style="background-color: rgb(40,51,68)") RGB 40 51 68
        section
          p Техническая
          .palette
            .palette-bar(style="background-color: rgb(5,5,5); color: grey") text
            .palette-bar(style="background-color: rgb(200, 0, 0)") code
            .palette-bar(style="background-color: rgb(0, 100, 240)") link
            .palette-bar(style="background-color: rgb(0, 220, 0)") hover
            .palette-bar(style="background-color: rgba(0, 0, 0, 0.3)") disabled
            .palette-bar(style="background-color: rgb(240, 84, 95)") error
            .palette-bar(style="background-color: rgb(84, 180, 140)") success
            .palette-bar(style="background-color: rgb(245,245,245)") surface
            .palette-bar(style="background-color: rgb(255,221,0)") main
            .palette-bar(style="background-color: rgb(255, 248, 128)") mark
            .palette-bar(style="background-color: rgb(255, 255, 255)") background

      .wds__stack-S
      section
        h2#logo Логотип
        p Основная версия логотипа представляет собой жёлтый фирменный круг с чёрной подписью:
      section
        p
          a(href="/assets/images/winvestor-main-logo-ru.svg" download) Скачать SVG

    .wds__text
      section
      p Допускается использование знака без текстовой подписи.
      p Основная версия используется только на белом фоне. Версия для цветного фоне не просто инвертирована, в ней по-другому раскрашен круг:

      section
        .logos-palette
          .inverted-logo-bar(style="background-color: rgb(46,200,134)")
          .inverted-logo-bar(style="background-color: rgb(245,86,99)")
          .inverted-logo-bar(style="background-color: rgb(94,98,243)")
          .inverted-logo-bar(style="background-color: rgb(115,43,151)")
          .inverted-logo-bar(style="background-color: rgb(70,78,90)")
          .inverted-logo-bar(style="background-color: rgb(40,51,68)")

      section
        p
          a(href="/assets/images/winvestor-inverted-logo-ru.svg" download) Скачать SVG
        

      .wds__stack-S
      section
        h2#type Типографика
        p Фирменный шрифт Винвестора — Root UI в начертаниях Regular, Medium и Bold. 

      .wds__text
        section
          p Узнаваемая особенность заголовков Винвестора — частичное смысловое выделение подчёркиванием:
          h1 Маркетспейс<br><mark>инвестиционных<br>продуктов</mark>
        section
          p PT Root — закрытый гротеск с фиксированной шириной знаков в различных начертаниях — эта особенность позволяет переключаться между начертаниями без изменения длины строки, что особенно удобно для заголовков и элементов интерфейса.
          p
            a(href="https://www.paratype.ru/fonts/pt/pt-root-ui") Скачать шрифт

      .wds__stack-S
    .wds__text
      section
        h2#graphic Иллюстрации
        p Фирменная графика Винвестора использует расширенную палитру и отличается характерными приёмами:
    .wds__grid.wds__grid-size-L.wds__grid-align-bottom.wds__grid-inset-L
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-06.png")
          figcaption Градиент с «шумной» текстурой
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-07.png")
          figcaption Сочетание линий и градиентных заливок
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-08.png")
          figcaption Характерные тонкие линии
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-09.png")
          figcaption Паттерн из живописных мазков
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-10.png")
          figcaption Геометричные фигуры с искажениями
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/style_2020.04-12.png")
          figcaption Жёсткие тени остроугольной формы
    .wds__text
      p Несколько готовых к использованию иллюстраций:

    .wds__grid.wds__grid-size-M.wds__grid-align-bottom.wds__grid-inset-L
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/apartment.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/fireman.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/boomerang.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/pelican.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/antelope.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/Color-line-03.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/Color-line-04.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/Color-line-05.png")
      .wds__grid-cell        
        figure
          img(src="/assets/images/illustrations/Color-line-02.png")
    .wds__text
      section
        p
          a(href="https://yadi.sk/d/f7vyFAo4CAm9LA/%D0%98%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8") Скачать иллюстрации

      





  .plug
