extends pages/layouts/main.pug

block header 
  include pages/partials/design-header.pug

block content
  .ids__wrapper
    .ids__text
      .ids__section
        h2 Компоненты
      .ids__stack-XXS

      .ids__section
        h3 Кнопка
        .ids__grid.ids__grid-size-L.ids__grid-inset-L
          .ids__grid-cell
            p default
            button Кликни меня
          .ids__grid-cell
            p disabled
            button(disabled) Кликни меня

        h3 Кнопка-ссылка
        .ids__grid.ids__grid-size-L.ids__grid-inset-L
          .ids__grid-cell
            p default
            a.ids__button-link(href="/components-test.pug") Кликни меня
          .ids__grid-cell
            p disabled
            a.ids__button-link(href="/components-test.pug" disabled) Кликни меня

      .section
        .error-plate
          | Да уж конечно, похоже приключилась некоторая ошибка :(
        .success-plate
          | Ну! Можешь же, когда захочешь!
        h3 Инпут
        .ids__grid.ids__grid-size-XL.ids__grid-inset-L
          .ids__grid-cell
            p default
            input(type='text' placeholder='Введи сюда свой текст')
            
          .ids__grid-cell
            p disabled
            input(type='text' placeholder='Введи сюда свой текст' disabled)

        .ids__form-field
          label Выбери меня
          input.error-state(type='text' placeholder='Введи сюда свой текст')
          .form-error-message
            | Это поле обязательно для заполнения
        .ids__form-field
          label Выбери меня
          input(type='text' placeholder='Введи сюда свой текст')
        .ids__form-field
          label Выбери меня
          input(type='text' placeholder='Введи сюда свой текст')

        h3 Текстовая зона
        .ids__grid.ids__grid-size-XL.ids__grid-inset-L
          .ids__grid-cell
            p default
            textarea(placeholder='Введи сюда свой текст')
          .ids__grid-cell
            p disabled
            textarea(placeholder='Введи сюда свой текст' disabled)
        
        h3 Инпут вариант 2
        .ids__grid.ids__grid-size-XL.ids__grid-inset-L
          .ids__grid-cell
            p default
            
            input.ids__input-text-line(type='text' placeholder='Введи сюда свой текст')
            
          .ids__grid-cell
            p disabled
            input.ids__input-text-line(type='text' placeholder='Введи сюда свой текст' disabled)

        h3 Текстовая зона вариант 2
        .ids__grid.ids__grid-size-XL.ids__grid-inset-L
          .ids__grid-cell
            p default
            textarea.ids__input-text-line(placeholder='Введи сюда свой текст')
          .ids__grid-cell
            p disabled
            textarea.ids__input-text-line(placeholder='Введи сюда свой текст' disabled)

        h3 Чекбокс
        .ids__grid.ids__grid-size-M.ids__grid-inset-L
          .ids__grid-cell
            p default
            .ids__checkbox
              input(type='checkbox')
              label Выбери меня
          .ids__grid-cell
            p checked
            .ids__checkbox
              input(type='checkbox' checked)
              label Выбери меня
          .ids__grid-cell
            p disabled
            .ids__checkbox
              input(type='checkbox' disabled)
              label Выбери меня
          .ids__grid-cell
            p disabled checked
            .ids__checkbox
              input(type='checkbox' checked disabled)
              label Выбери меня

        h3 Радиокнопка
        .ids__grid.ids__grid-size-M.ids__grid-inset-L
          .ids__grid-cell
            p default
            .ids__radio
              input(type='radio' id='email-login')
              label(for='email-login') Выбери меня
          .ids__grid-cell
            p checked
            .ids__radio
              input(type='radio' id='email-login' checked)
              label(for='email-login') Выбери меня
          .ids__grid-cell
            p disabled
            .ids__radio
              input(type='radio' id='email-login' disabled)
              label(for='email-login') Выбери меня
          .ids__grid-cell
            p disabled checked
            .ids__radio
              input(type='radio' id='email-login' checked disabled)
              label(for='email-login') Выбери меня

        //- h3 Радиогруппа
        //- .ids__radiogroup-line
        //-   .ids__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .ids__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .ids__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .ids__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня

        h3 Радиогруппа
        .ids__radiogroup-toggle
          .ids__radiogroup-option
            input(type='radio' id='option1' name='radiobuttons')
            label(for='option1') Письма 
          .ids__radiogroup-option
            input(type='radio' id='option2' name='radiobuttons')
            label(for='option2') Найти деньги
          .ids__radiogroup-option
            input(type='radio' id='option3' name='radiobuttons')
            label(for='option3') Что делать с деньгами
          .ids__radiogroup-option
            input(type='radio' id='option4' name='radiobuttons')
            label(for='option4') Как инвестировать

      .ids__section
        h3 Таблица
        table
          tr 
            th Название
            th Категория
            th Дата публикации
            th Действия
          tr 
            td Название публикации, которое имеет очень много буковок, таких, как буквы российского алфавита
            td Letters
            td 20.20.2020
            td Иконки :)
          tr 
            td Название публикации
            td Letters
            td 20.20.2020
            td Иконки :)
          tr 
            td Название публикации
            td Letters
            td 20.20.2020
            td Иконки :)
  .plug
