extends pages/layouts/main.pug

block header 
  include pages/partials/design-header.pug

block content
  .wds__wrapper
    .wds__text
      .wds__section
        h2 Компоненты
      .wds__stack-XXS

      .wds__section
        h3 Кнопка
        .wds__grid.wds__grid-size-L.wds__grid-inset-L
          .wds__grid-cell
            p default
            button Кликни меня
          .wds__grid-cell
            p disabled
            button(disabled) Кликни меня

        h3 Кнопка-ссылка
        .wds__grid.wds__grid-size-L.wds__grid-inset-L
          .wds__grid-cell
            p default
            a.wds__button-link(href="/components-test.pug") Кликни меня
          .wds__grid-cell
            p disabled
            a.wds__button-link(href="/components-test.pug" disabled) Кликни меня

        h3 Инпут
        .wds__grid.wds__grid-size-XL.wds__grid-inset-L
          .wds__grid-cell
            p default
            input(type='text' placeholder='Введи сюда свой текст')
            
          .wds__grid-cell
            p disabled
            input(type='text' placeholder='Введи сюда свой текст' disabled)

        .wds__form-field
          label Выбери меня
          input(type='text' placeholder='Введи сюда свой текст')
        .wds__form-field
          label Выбери меня
          input(type='text' placeholder='Введи сюда свой текст')
        .wds__form-field
          label Выбери меня
          input(type='text' placeholder='Введи сюда свой текст')

        h3 Текстовая зона
        .wds__grid.wds__grid-size-XL.wds__grid-inset-L
          .wds__grid-cell
            p default
            textarea(type='text' placeholder='Введи сюда свой текст')
          .wds__grid-cell
            p disabled
            textarea(type='text' placeholder='Введи сюда свой текст' disabled)
        
        h3 Инпут вариант 2
        .wds__grid.wds__grid-size-XL.wds__grid-inset-L
          .wds__grid-cell
            p default
            
            input.option2(type='text' placeholder='Введи сюда свой текст')
            
          .wds__grid-cell
            p disabled
            input.option2(type='text' placeholder='Введи сюда свой текст' disabled)

        h3 Текстовая зона вариант 2
        .wds__grid.wds__grid-size-XL.wds__grid-inset-L
          .wds__grid-cell
            p default
            textarea.option2(type='text' placeholder='Введи сюда свой текст')
          .wds__grid-cell
            p disabled
            textarea.option2(type='text' placeholder='Введи сюда свой текст' disabled)

        h3 Чекбокс
        .wds__grid.wds__grid-size-M.wds__grid-inset-L
          .wds__grid-cell
            p default
            .wds__checkbox
              input(type='checkbox')
              label Выбери меня
          .wds__grid-cell
            p checked
            .wds__checkbox
              input(type='checkbox' checked)
              label Выбери меня
          .wds__grid-cell
            p disabled
            .wds__checkbox
              input(type='checkbox' disabled)
              label Выбери меня
          .wds__grid-cell
            p disabled checked
            .wds__checkbox
              input(type='checkbox' checked disabled)
              label Выбери меня

        h3 Радиокнопка
        .wds__grid.wds__grid-size-M.wds__grid-inset-L
          .wds__grid-cell
            p default
            .wds__radio
              input(type='radio' id='email-login')
              label(for='email-login') Выбери меня
          .wds__grid-cell
            p checked
            .wds__radio
              input(type='radio' id='email-login' checked)
              label(for='email-login') Выбери меня
          .wds__grid-cell
            p disabled
            .wds__radio
              input(type='radio' id='email-login' disabled)
              label(for='email-login') Выбери меня
          .wds__grid-cell
            p disabled checked
            .wds__radio
              input(type='radio' id='email-login' checked disabled)
              label(for='email-login') Выбери меня

        //- h3 Радиогруппа
        //- .wds__radiogroup-line
        //-   .wds__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .wds__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .wds__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня
        //-   .wds__radio
        //-     input(type='radio' name='radiogroup')
        //-     label Выбери меня

        h3 Радиогруппа
        .wds__radiogroup-buttons
          .wds__radio-button
            input(type='radio' id='option1' name='radiobuttons')
            label(for='option1') Письма 
          .wds__radio-button
            input(type='radio' id='option2' name='radiobuttons')
            label(for='option2') Найти деньги
          .wds__radio-button
            input(type='radio' id='option3' name='radiobuttons')
            label(for='option3') Что делать с деньгами
          .wds__radio-button
            input(type='radio' id='option4' name='radiobuttons')
            label(for='option4') Как инвестировать

      .wds__section
        h3 Таблица
        table
          tr 
            th Название
            th Категория
            th Дата публикации
            th Действия
          tr 
            td Название публикации
            td Letters
            td 20.20.2020
            td Иконки :)
          tr 
            td Название публикации
            td Letters
            td 20.20.2020
            td Иконки :)
          tr 
            td Название публикации
            td Letters
            td 20.20.2020
            td Иконки :)
  .plug
