extends pages/layouts/main.pug

block header
  include pages/partials/design-header.pug

block content
  .plug
  
  .wds__wrapper
    .wds__text
      .wds__section
        p Это брендбук <a href="https://winvestor.ru">Винвестора</a>, здесь собраны материалы, которые помогут задизайнить любой информационный продукт или носитель.
        
        .brandbook-sections
          a.section-link(href="/brand.pug")
            .wds__label.wds__label-S Всем
            h2 Платформа бренда
            p Аудитория, ценности, тональность. С кем говорим и о чём. Во что верим и как это объясняем.
          a.section-link(href="/style.pug")
            .wds__label.wds__label-S Дизайнерам
            h2 Фирменный стиль
            p Логотипы, цвета, шрифты, иллюстрации
          a.section-link(href="/system.pug")
            .wds__label.wds__label-S Разработчикам
            h2 Дизайн-система
            p Принципы дизайна веб-приложений, CSS-фреймворк
          a.section-link(href="/presskit.pug")
            .wds__label.wds__label-S Журналистам
            h2 Пресс-кит
            p Тексты, картинки, логотипы.
        p Любые вопросы о бренде и дизайн-системе: <a href="mailto:e@intuition.team">e@intuition.team</a>, <a href="tg://resolve?domain=nfrjtdjnbvz">@nfrjtdjnbvz</a>.

  .plug
