extends pages/layouts/main.pug

block header
  include pages/partials/design-header.pug

block content
  .plug
  
  .wds__wrapper
    .wds__text
      p Это брендбук <a href="https://winvestor.ru">Винвестора</a>, здесь собраны материалы, которые помогут задизайнить любой информационный продукт или носитель.
      
      .wds__grid
        .wds__grid-cell
          a.brandbook-section(href="/brand.pug")
            .wds__label.wds__label-S Всем
            h2 Бренд
            p Аудитория, ценности, тональность. Логотипы, цвета, шрифты, иллюстрации.
        .wds__grid-cell
          a.brandbook-section(href="/system.pug")
            .wds__label.wds__label-S Разработчикам
            h2 Дизайн-система
            p Темы оформления, редакционные форматы, элементы интерфейса
      p Сделано с <a href="https://intuition.team">Интуицией</a> в 2020 году
      //- p Любые вопросы о бренде и дизайн-системе: <a href="mailto:e@intuition.team">e@intuition.team</a>, <a href="tg://resolve?domain=nfrjtdjnbvz">@nfrjtdjnbvz</a>.

  .plug
