extends pages/layouts/main.pug

block header
  .system__sidebar
    .system__sidebar-logos
      a.system__sign(href="/index.pug")
        img(src="/assets/images/winvestor-sign.svg")
      a.system__sign(href="/index.pug")
        img(src="/assets/images/wds-sign.svg")
    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#principles") Принципы
      //- .system__sidebar-nav-link
      //-    a(href="#") Как начать
      .system__sidebar-nav-link
        a(href="#components") Компоненты
      //- .system__sidebar-nav-link
      //-   a(href="#context") Установка контекста
      //- .system__sidebar-nav-link
      //-   a(href="#typography") Типографика
      //- .system__sidebar-nav-link
      //-   a(href="#color") Цвет

block content
  a.theme-button

  .plug
  .wds__wrapper.wds__shift-right
    .wds__text

      h1.huge-wds-title
        span .wds
      p WDS, Winvestor Design System — это дизайн-система для сборки онлайн-публикаций, лендингов и интерфейсов. Реализована как CSS-фреймворк, поставляется в виде npm-пакета.

      p Чтобы подключить WDS, добавьте зависимость:

      aside
        code npm install @intuition.team/wds

      p Чтобы использовать компоненты и цветовые схемы, достаточно подключить один CSS-файл:

      aside
        code @intuition.team/wds/dist/wds

      p Чтобы менять шрифт и любые настройки, подключите SCSS:

      aside
        code @import '@intuition.team/wds/wds'

      p WDS предоставляет компоненты, переменные и миксины. Компоненты — это готовые к использованию элементы интерфейса, а переменные и миксины — это инструменты для создания собственных элементов.

      .wds__stack-XS
      h2(id="principles") Принципы


      p Система знает только два типа устройств: <code>mobile</code> (с экраном шириной до 768 CSS-пикселей) и <code>desktop</code> (все остальные).

      p Контентоцентризм: у одного и того же контента на разных устройствах должен быть максимально одинаковый, минимально искажённый адаптацией дизайн. Мы задаём компонентам как можно меньше специфичных для устройств стилей, а базовые стили делаем как можно универсальнее.

      p Базовый элемент системы — абзац текста.



      .wds__section
        h3(id="context") Пространство имён

        p Чтобы использовать компоненты дизайн-системы, достаточно поместить их в контейнер с классом <code>wds</code>. Этот класс можно назначить тегу <code>body</code> или создать отдельные контейнеры во всей местах, где должна работать дизайн-система.

        p Всем имена классов, переменных имеют префикс <code>wds__</code>. Cтандартным хтмл-элементам не требуется специальный класс, их оформление определено для тегов внутри <code>.wds</code>.

      .wds__section
        h3(id="context") Размерности
        p Основная единица измерения — em. По умолчанию 1&thinsp;em равняется 20&thinsp;px для ширины экрана до 1400&thinsp;px и 21&thinsp;px для большей ширины. Для мобильных 1&thinsp;em по умолчанию равен 17&thinsp;px.
        p В em задаётся не только кегль с интерлиньяжем, но и все отступы.
        p Есть глобальная переменная <code>$wds__density</code>, она отвечает за плотность вёрстки и отражается на интерлиньяже, внутренних полях и внешних отступах компонентов. Задаётся в em, значение по-умолчанию — 1.3em, рекомендованный диапазон значений — от 0.8em (очень плотная вёрстка, нужен шрифт с крупным очком и короткими выносными элементами) до 1.8em (очень разреженная вёрстка, адекватно для светлых шрифтов с мелким очком и длинными выносными элементами)

      .wds__section
        h3(id="typography") Типографика
        p Важная особенность системы — типографическая гибкость. WDS позволяет подключить любой шрифт и предоставляет инструменты для точной настройки типографики. Выбирая шрифт, пользователь системы задаёт «коэффициент плотности вёрстки», но основе которого вычисляется интерлиньяж и все отступы.

        p Шрифтовая схема по-умолчанию — PT Root в начертаниях Light, Regular и Bold. Чтобы

        //- p Дизайн-система не содержит набора готовых иконок. Иконки считаются иллюстративной графикой: встраиваются как изображения, их графика должна соответствовать характеру шрифта.

      //- .wds__section
      //-   h3(id="dimensions") Отступы


      //- .wds__section
      //-   h3(id="color") Цвет



      .wds__section
        .wds__stack-XS
        h2(id="components") Компоненты
        .wds__devider-line

      .wds__section
        //- h4 1. Заголовки
        //- aside
        h3
          code &lt;h1&gt;
        h1 Заголовок первого уровня
        .wds__stack-XS
        h3
          code &lt;h2&gt;
        h2 Заголовок второго уровня
        .wds__stack-XS
        h3
          code &lt;h3&gt;
        h3 Заголовок третьего уровня
        .wds__stack-XS
        h3
          code &lt;h4&gt;
        h4 Заголовок четвертого уровня
        .wds__stack-XS
        h3
          code &lt;h5&gt;
        h5 Заголовок пятого уровня
        .wds__stack-XS
        h3
          code &lt;h6&gt;
        h6 Заголовок шестого уровня

      .wds__section
        //- .wds__stack-XS
        //- h3 2. Оформление
        .wds__stack-XS
        h3
          code &lt;p&gt;
        p Винвестор работает с октября 2018 года. За это время мы успели разработать транзакционную платформу и провести десятки рыночных исследований. В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики.

        .wds__stack-XS
        h4
          code .wds__lead

        .wds__lead В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики. У нас два офиса — в Москве и Ростове-на-Дону.


        .wds__stack-XS
        h3
          code &lt;mark&gt;
        p В тексте можно <mark>выделить фрагмент</mark> и будет хорошо.
        h2 <mark>А можно и заголовок. Как душе угодно.</mark>


        .wds__stack-XS
        h3
          code &lt;blockquote&gt;

        blockquote Семь раз отмерь, один раз Андрей


        .wds__stack-XS
        h3
          code &lt;ol&gt;
        p Нумерованный список, используется для

        ol
          li Пункт номер 1
          li Пункт номер 2
          li Пункт номер 3


        .wds__stack-XS
        h3
          code &lt;ul&gt;
        p Ненумерованный список, используется для
        ul
          li Пункт номер 1
          li Пункт номер 2
          li Пункт номер 3


        .wds__stack-XS
        h3
          code .wds__label
        p Используется перед заголовком

        .wds__label Прелестно

        .wds__stack-XS

        p Можно поменять стиль с помощью класса <code>.outline</code>
        .wds__label.outline Просто прелестно

        .wds__stack-XS


        .wds__stack-XS
        h3
          code &lt;aside&gt;

        aside
          p Винвестор работает с октября 2018 года. За это время мы успели разработать транзакционную платформу и провести десятки рыночных исследований. В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики. У нас два офиса — в Москве и Ростове-на-Дону.


      .wds__section
        h3
          code &lt;figure&gt;
        p Картинка
        .wds__stack-XS
        h3
          code &lt;figcaption&gt;
        p Подпись к картинке

        figure
          img(src="/assets/images/wds-pic-1.jpg")
          figcaption Эту картинку я сделал из фотографии экрана

      .wds__section
        h4
          code .wds__figure__XXS
        p 25% ширины
        figure.wds__figure__XXS
          img(src="/assets/images/wds-pic-1.jpg")

      .wds__section
        h4
          code .wds__figure__XS
        p 50% ширины

        figure.wds__figure__XS
          img(src="/assets/images/wds-pic-1.jpg")

      .wds__section
        h4
          code .wds__figure__S
        p 75% ширины

        figure.wds__figure__S
          img(src="/assets/images/wds-pic-1.jpg")

      .wds__section
        .wds__stack-XS
        h3
          code &lt;button&gt;
        button Отправить
        .wds__stack-XS


  .plug
