extends pages/layouts/main.pug

block header
  .system__sidebar
    .system__sidebar-logos
      a.system__sign(href="/index.pug")
        img(src="/assets/images/winvestor-sign.svg")
      a.system__sign(href="#top")
        img(src="/assets/images/wds-sign.svg")

    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#principles") Принципы
      .system__sidebar-nav-link.inner
        a(href="#namespace") Пространство имён
      .system__sidebar-nav-link.inner
        a(href="#units") Размерности

    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#variables") Переменные
      .system__sidebar-nav-link.inner
        a(href="#typography") Типографика
      .system__sidebar-nav-link.inner
        a(href="#color") Цвет

    .system__sidebar-nav
      .system__sidebar-nav-link
        a(href="#components") Компоненты
      .system__sidebar-nav-link.inner
        a(href="#editorial") Редакционные форматы
      .system__sidebar-nav-link.inner
        a(href="#ui") Элементы интерфейса
      
block content
  a.theme-button

  .plug#top
  .wds__wrapper.wds__shift-right
    .wds__text

      h1.huge-wds-title
        span .wds
      p WDS, Winvestor Design System — это дизайн-система для сборки онлайн-публикаций, лендингов и любых интерфейсов. Она реализована как CSS-фреймворк и поставляется в виде npm-пакета:

      aside
        code npm install @intuition.team/wds

      p Чтобы использовать компоненты в стандартной цвето-шрифтовой схеме, достаточно подключить один только CSS-файл:

      aside
        code @intuition.team/wds/dist/wds

      p Чтобы менять шрифт и любые настройки, подключите все SCSS-файлы и обеспечте их сборку в проекте:

      aside
        code @import '@intuition.team/wds/wds'


      .wds__stack-S
      h2#principles Принципы

      p WDS предоставляет компоненты и переменные. Компоненты — это готовые к использованию элементы интерфейса, а переменные помогают делать собственные элементы консистентными.

      p WDS подразумевает, что у одного и того же содержимого на разных устройствах должен быть максимально одинаковый, минимально искажённый адаптацией дизайн. Мы задаём компонентам как можно меньше специфичных для устройств стилей, а базовые стили делаем как можно универсальнее.

      p Важная особенность системы — типографическая гибкость. Базовый элемент системы — это текст, а в качестве точки отсчёта для вычисления размеров вместо единичного модуля используется интерлиньяж этого текста. WDS позволяет подключить любой шрифт и предоставляет инструменты для точной настройки типографики. 

      p WDS не содержит набора готовых иконок они считаются иллюстративной графикой, подбираются в соответствии с выбранным шрифтом и встраиваются как изображения.




      section
        h3#namespace Пространство имён

        p Чтобы использовать компоненты дизайн-системы, достаточно поместить их в контейнер с классом <code>wds</code>. Этот класс можно назначить тегу <code>body</code> или создать отдельные контейнеры во всей местах, где должна работать дизайн-система.

        p Все имена классов и переменных имеют префикс <code>wds__</code>. Cтандартным хтмл-элементам не требуется специальный класс, их оформление определено для тегов внутри <code>.wds</code>.

      section
        h3#units Размерности
        p Система знает только два типа устройств: <code>mobile</code> (с экраном шириной до 768 CSS-пикселей) и <code>desktop</code> (все остальные).

        p Основная единица измерения — <code>em</code>, в них заданы не только кегль с интерлиньяжем, но и все поля и отступы. По умолчанию 1&thinsp;em равняется 20&thinsp;px для ширины экрана до 1400&thinsp;px и 21&thinsp;px для большей ширины. Для мобильных 1&thinsp;em по умолчанию равен 17&thinsp;px. Эти значения можно переопределить.

        p Выбирая шрифт, пользователь системы задаёт «коэффициент плотности вёрстки» — глобальную переменную <code>--wds__density</code>. Она соответствует стандартному интерлиньяжу, такжн  и их неё вычисляются значения внутренних полей и внешних отступой всех компонентов.

      
        p Значение по-умолчанию — 1.3, рекомендованный диапазон значений — от 0.8 (очень плотная вёрстка, нужен шрифт с крупным очком и короткими выносными элементами) до 1.8 (очень разреженная вёрстка, адекватно для светлых шрифтов с мелким очком и длинными выносными элементами)

      section
        h2#variables Переменные
        p WDS позволяет настроить цветовую палитру и основные параметры типографики через css-переменные. 

      section
        h3#typography Типографика
        p Шрифт по-умолчанию — PT Root в начертаниях Regular, Medium и Bold.

        p #[code --wds__density] — коэффициент плотности вёрстки.

        p Размеры шрифта увеличиваются в заданных диапазонах на заданных ширинах экрана. По умолчанию это от 16 до 20 пикселей на компьютерах при ширине от 1000 до 1600 пикселей и нескалируемые 17 пикселей на телефонах при ширине от 320 до 768 пикселей.

        p Заголовки увеличиваются умножением на коэффициент размерной сетки. Например, изначальное состояние 20px, коэффициент 1.5. Значит, следующий заголовок будет 30px. Следующий 45px.

        p Основано на #[a(href='https://utopia.fyi/calculator') Утопии].

        h4 Диапазоны
        ul
          li 
            code --fluid-min-width
            | — ширина экрана, с которой начинается растяжение шрифта
          li 
            code --fluid-max-width
            | — ширина, на которой растяжение заканчивается
          li 
            code --fluid-screen
            | — шрифт растягивается с этим параметром (100vw). если его зафиксировать в пикселях, не растягивается
          li 
            code --type-scale-desktop
            | — коэффициент размерной сетки на компьютерах
          li 
            code --f-0-min
            | — минимальный размер шрифта на компьютерах
          li 
            code --f-0-max
            | — максимальный размер шрифта на компьютерах
          li 
            code --type-scale-mobile
            | — коэффициент размерной сетки на телефонах
          li 
            code --f-0-min-mobile
            | — размер шрифта мин телефон
          li 
            code --f-0-max-mobile
            | — размер шрифта макс телефон
        
        h4 Размеры шрифта
        ul
          li
            code --step-3
            | — h1
          li
            code --step-2
            | — h2
          li
            code --step-1
            | — h3
          li
            code --step-0
            | — h4, p. базовый шрифт, переменная с размером шрифта


      section
        h3#color Цвет
        p Цвета хранятся в виде трёх чисел RGB. Это позволяет гибко настраивать прозрачность.
        aside
          code --wds__text-RGB: 5, 5, 5;
        p Чтобы задавать цвета css-переменными, используется css-функция #[code RGB()] (капсом) вместо sass-функции #[code rgb()]:
        aside
          code color: RGB(var(--wds__text-RGB));
        
        h4 Основные
        ul
          li
            code --wds__text-RGB
            | — цвет текста
          li
            code --wds__link-RGB
            | — цвет ссылки
          li
            code --wds__hover-RGB
            | — цвет подсветки активных элементов при наведении курсора
          li
            code --wds__accent-RGB
            | — цвет для кнопок и других кликабельных или активных элементов; отличается от цвета бренда, чтобы оставаться заметным среди брендовых иллюстраций
          li
            code --wds__surface-RGB
            | — цвет для плашей, текстовых полей и других «поверхностей», лежащих «в другом визуальном слое»
          
        h4 Дополнительные
        ul
          li
            code --wds__background-RGB
            | — цвет фона
          li
            code --wds__main-RGB
            | — узнаваемый цвет бренда; по умолчанию наследует #[code --wds__accent-RGB]
          li
            code --wds__code-RGB
            | — цвет для выделения кода
          li
            code --wds__error-RGB
            | — цвет для сообщений об ошибках
          li
            code --wds__success-RGB
            | — цвет для сообщений об успешном выполнении
          li
            code --wds__outline-RGB
            | — цвет обводки для элементов в фокусе; по умолчанию наследует #[code --wds__surface-RGB]
        
        h4 Для тёмных тем
        ul
          li
            code --wds__on-accent-RGB
            | — цвет текста на фоне цвета accent; по умолчанию наследует #[code --wds__background-RGB]
          li
            code --wds__on-main-RGB
            | — цвет текста на фоне цвета main; по умолчанию наследует #[code --wds__background-RGB]
          li
            code --wds__on-surface-RGB
            | — цвет текста на фоне цвета surface; по умолчанию наследует #[code --wds__text-RGB]



        



      section
        .wds__stack-S
        h2#components Компоненты 
        .wds__divider-line
        h3#editorial Редакционные форматы
      section
        .wds__stack-XS
        h3
          | Абзац текста 
          code &lt;p&gt;
        p Винвестор работает с октября 2018 года. За это время мы успели разработать транзакционную платформу и провести десятки рыночных исследований. В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики.

        .wds__stack-XS
        h3 Лидер-абзац 
          code p.wds__lead

        .wds__lead В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики. У нас два офиса — в Москве и Ростове-на-Дону.


      section
        h3
          | Заголовки
        h3
          code &lt;h1&gt;
        h1 Полюбить свои цифры
        .wds__stack-XS
        h3
          code &lt;h2&gt;
        h2 Привычки скучных людей
        .wds__stack-XS
        h3
          code &lt;h3&gt;
        h3 Считать деньги с удовольствием
        .wds__stack-XS
        h3
          code &lt;h4&gt;
        h4 Раскладывать по полочкам и заработать на квартиру
        .wds__stack-XS
        h3
          code &lt;h5&gt;
        h5 Радовать себя и сделать ремонт
        .wds__stack-XS
        h3
          code &lt;h6&gt;
        h6 Получать кэшбек и развлекаться


      section
        .wds__stack-XS
        h3
          | Маркер 
          code &lt;mark&gt;
        h2 Сколько может длиться <mark>финансовый кризис</mark>
        p Вовсе не обязательно использовать все финансовые привычки сразу — они неплохо работают и по отдельности. Более того, финансовые привычки могут прижиться у людей <mark>любого возраста и с любым уровнем дохода</mark>, и тоже будут отлично работать.



        .wds__stack-XS
        h3
          | Цитата 
          code &lt;blockquote&gt;

        blockquote Основной принцип финансовой независимости — тратить меньше, чем зарабатываешь и инвестировать разницу




        .wds__stack-XS
        h3
          | Нумерованный список 
          code &lt;ol&gt;
        

        ol
          li Пункт номер 1
          li Пункт номер 2
          li Пункт номер 3


        .wds__stack-XS
        h3 
          | Ненумерованный список 
          code &lt;ul&gt;
        ul
          li Пункт номер 1
          li Пункт номер 2
          li Пункт номер 3

        .wds__stack-XS
        h4
          code &lt;ul.checked&gt;
        ul.checked
          li Пункт номер 1
          li Пункт номер 2
          li Пункт номер 3

        .wds__stack-XS
        h3
          | Лейбл 
          code .wds__label

        .wds__label Привычка №1
        .wds__stack-XS

        h4 <code>.wds__label-outline</code>
        .wds__label.wds__label-outline Просто прелестно

        .wds__stack-XS
        h3
          | Подробности 
          code &lt;details&gt;

        details
          summary Винвестор работает с октября 2018 года
          .wds__stack-XS
          p За это время мы успели разработать транзакционную платформу и провести десятки рыночных исследований. В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики. У нас два офиса — в Москве и Ростове-на-Дону.

        .wds__stack-XS
        h3
          | Плашка 
          code &lt;aside&gt;

        aside
          p Винвестор работает с октября 2018 года. За это время мы успели разработать транзакционную платформу и провести десятки рыночных исследований. В команде около 40 человек: программисты, специалисты по безопасности, профессиональные брокеры и инвесторы, менеджеры, дизайнеры, редакторы и аналитики. У нас два офиса — в Москве и Ростове-на-Дону.


      section
        h3
          | Иллюстрация 
          code &lt;figure&gt;
        figure
          img(src="/assets/images/wds-pic-1.jpg")
        .wds__stack-XS
        h4
          | Подпись к иллюстрации 
          code &lt;figcaption&gt;
        figure
          figcaption Эту картинку я сделал из фотографии экрана

        .wds__stack-XS
        p Иллюстрация с подписью:
        figure
          img(src="/assets/images/wds-pic-1.jpg")
          figcaption Эту картинку я сделал из фотографии экрана

      section
        p Модификаторы
        h4

          code .wds__figure__XXS
        figure.wds__figure__XXS
          img(src="/assets/images/wds-pic-1.jpg")

      section
        h4
          code .wds__figure__XS
        figure.wds__figure__XS
          img(src="/assets/images/wds-pic-1.jpg")

      section
        h4
          code .wds__figure__S

        figure.wds__figure__S
          img(src="/assets/images/wds-pic-1.jpg")

      section
        .wds__stack-S
        h3#ui Элементы интерфейса
        .wds__divider-line

      section
        .wds__stack-XS
        h3
          | Кнопка 
          code &lt;button&gt;
        button Отправить
        .wds__stack-S

        h3
          | Кнопка-ссылка 
          code .wds__button-link
        a.wds__button-link(href="/system.pug") Заполнить заявку
        .wds__stack-S

        h3
          | Текстовое поле 
          code &lt;input type="text"&gt;
        input(type='text' placeholder='Например, ')
        .wds__stack-S

        h4
          code .wds__input-text-line
        input.wds__input-text-line(type='text' placeholder='Например, ')
        .wds__stack-S

        h3
          | Текстовая зона 
          code &lt;textarea&gt;
        textarea(placeholder='Например, ')
        .wds__stack-S

        h3
          | Чекбокс 
          code .wds__checkbox
        .wds__checkbox
          input(type='checkbox' id="checkbox-sample")
          label(for="checkbox-sample") Согласен, что данные обработаются
        .wds__stack-S

        h3
          | Радиогруппа 
          code .wds__radio
        .wds__radio
          input(type='radio' id='radio-sample-1' name='radio-sample')
          label(for='radio-sample-1') Приобрести ПИФ
          br
          input(type='radio' id='radio-sample-2' name='radio-sample')
          label(for='radio-sample-2') Купить обликацию
          br
          input(type='radio' id='radio-sample-3' name='radio-sample')
          label(for='radio-sample-3') Копить деньги и ждать
        .wds__stack-S

        h4
          code .wds__radiogroup-toggle
        .wds__radiogroup-toggle
          .wds__radiogroup-option
            input(type='radio' id='option1' name='radio-toggle-sample' checked)
            label(for='option1') Облигация
          .wds__radiogroup-option
            input(type='radio' id='option2' name='radio-toggle-sample')
            label(for='option2') Акция
          .wds__radiogroup-option
            input(type='radio' id='option3' name='radio-toggle-sample')
            label(for='option3') ПИФ
          .wds__radiogroup-option
            input(type='radio' id='option4' name='radio-toggle-sample')
            label(for='option4') Вклад
        .wds__stack-S

        //- h3
        //-   code &lt;table&gt;
        //- table
        //-   tr 
        //-     th Колонка1 
        //-     th Колонка2
        //-     th Колонка3 
        //-   tr 
        //-     td Колонка1
        //-     td Колонка2
        //-     td Колонка3
        //-   tr 
        //-     td Колонка1
        //-     td Колонка2
        //-     td Колонка3
        //-   tr 
        //-     td Колонка1
        //-     td Колонка2
        //-     td Колонка3

        //- .wds__stack-S

      //- section
        h2(id="variables") Переменные

        .wds__stack-XS
        h4
          code 

  .plug
