extends pages/layouts/main.pug

block header 
  include pages/partials/design-header.pug

block content
  //- .plug
  
  //- .ids__label Найти деньги
  .ids__wrapper
    .ids__text
      .ids__section
        .ids__label Как инвестировать
        h1 Что такое облигации
        .ids__lead Когда компании нужны деньги, она может обратиться в банк и взять кредит, а может выпустить облигации и продать их инвесторам. Иногда второй вариант удобнее: так компания может самостоятельно решить, что делать с полученными деньгами, установить срок погашения долга, размер и частоту выплат процентов.
      .ids__section
        p То есть фактически <strong>облигации</strong> — это долговые расписки. По ним инвесторы регулярно получают процентные выплаты (или, как их еще называют, «купонный доход»), а в установленный срок возвращают вложенные деньги.
        p Компания, которая продает облигации называется эмитентом. Иногда в качестве эмитента может выступать государство. 

      .ids__section
        h2 Какие бывают облигации и в чем разница
        p Есть несколько видов <em>облигаций</em>: по сроку погашения, форме выплат дохода, по степени надежности, типу эмитента и даже по наличию ограничений на покупку и продажу. 
  
        <br>
        <details><summary>Рассказываем подробнее</summary>
          p <strong>По форме выплаты дохода:</strong>
          ul
            li процентные (купонные) облигации. По процентным облигациям инвесторы регулярно получают доход в форме процентов, а по истечении срока — сумму долга (номинальную стоимость облигации).
            li дисконтные облигации. По дисконтным облигациям отсутствуют выплаты в форме процентов. Дисконтные облигации продаются по цене ниже номинальной (скажем, по 900 рублей), а погашаются по номинальной цене (скажем, 1100 рублей). Разница между 1100 и 900 рублями называется дисконтом, это и есть доход инвестора.
          p <strong>По сроку погашения:</strong>
          ul
            li краткосрочные — менее года.
            li среднесрочные — от 1 года до 5 лет.
            li долгосрочные — более 5 лет.
          p <strong>По эмитенту:</strong>
          ul
            li государственные (Российской Федерации и ее субъектов) — их выпускают, чтобы покрыть дефицит бюджета.
            li муниципальные — их выпускают органы местного самоуправления, как правило, чтобы профинансировать различные проекты. 
            li корпоративные — их выпускают организации, от небольших региональных банков до крупных федеральных корпораций.
          p <strong>По обеспеченности:</strong>
          ul
            li обеспеченные — самые надежные. Сохранность вложений может обеспечивать залог в форме недвижимости, оборудования или ценных бумаг, поручительство другой компании или банковская, государственная или муниципальная гарантия. Даже если у компании настанут тяжелые времена, обязательства будут исполнены.
            li необеспеченные — менее надежные. В случае банкротства компании, деньги могут вернуть полностью или частично.
            li субординированные необеспеченные — самые рискованные. В случае банкротства эмитента, можно потерять все вложения.
          p <strong>По способу обращения:</strong>
          ul
            li облигации со свободным обращением — нет никаких ограничений на покупку и продажу таких облигаций. Они могут свободно менять собственников: переходить от одних инвесторов к другим.
            li облигации с ограниченным обращением — покупка и продажа таких облигаций имеют ограничения. Например, владелец не может продавать облигации в течение какого-то времени. Или же эмитент устанавливает ограничения на цену облигаций — при продаже она не может быть больше или меньше какого-то лимита.
          </details>

  .ids__wrapper
    .ids__text
      .ids__section
        h3 Преимущества 
        p Облигации, особенно если они выпускаются госудаством или <a href="http://ids.intuition.team/ids-demo">крупными федеральными компаниями</a>, — надежный инструмент с фиксированной доходностью. Полная сумма, сроки и размер выплат этого дохода, как правило, известны при покупке. 
        p Этот инструмент подойдет, чтобы покрыть инфляцию и немного заработать без большого риска. 
      .ids__section
        .ids__grid
          .ids__grid-cell
            figure
              img(src="/assets/images/ids-pic-1.jpg")
              figcaption Фотография сделана Евгением Арутюновым в 2020 году
          .ids__grid-cell
            figure
              img(src="/assets/images/ids-pic-1.jpg")
              //- figcaption Фотография сделана Евгением Арутюновым в 2020 году

      .ids__section
        h3 Доходность
        p Владельцы облигаций регулярно получают проценты по долгу. Их платят раз в полгода, раз в квартал или даже раз в месяц. В конце срока, при погашении облигаций, инвесторы получают обратно деньги, которые одолжили компании.
        .ids__stack-XS
        blockquote Доходность по облигациям федерального займа сейчас составляет 6-8% годовых, а по облигациям надежных федеральных компаний можно рассчитывать на доходность до 10%. Облигации менее надежных компаний могут приносить даже 30% годовых, но и риск потерять деньги будет очень велик.
      .ids__section
        h3 Налоги
        p С купонного дохода придется заплатить подоходный налог в размере 13%. Его автоматически рассчитывает и удерживает эмитент или депозитарий. Также 13% придется заплатить с дохода от продажи облигаций. Его удерживает брокер, если сделка проводилась через него.
        p В некоторых случаях налог можно не платить:
        ol
          li если вы вложили деньги в облигации через индивидуальный инвестиционный счет (ИИС), то можете получить налоговый вычет;
          li если вы купили облигации федерального займа (ОФЗ), государственные краткосрочные облигации (ГКО) или облигации субъектов Федерации и муниципалитетов, вам не нужно платить НДФЛ с купонного дохода;
          li с 2018 года купонный доход по корпоративным рублевым облигациям не облагается налогом, если он не превышает размера ключевой ставки Банка России плюс 5%. Если выплаты по купону выше, то налог нужно будет заплатить только с этой разницы (процент по купону минус ключевая ставка и минус 5%). Это правило действует для рублевых облигаций, выпущенных с 1 января 2017 года по 31 декабря 2020 года.
        .ids__stack-S
  .ids__wrapper.ids__full-width
    figure
      img(src="/assets/images/ids-pic-1.jpg")
      figcaption Фотография сделана Евгением Арутюновым в 2020 году
      
  .ids__wrapper
    .ids__text
      .ids__section
        h2 Что такое структурные продукты и какие они бывают

        p <mark>Структурный продукт</mark> — это конструктор из нескольких финансовых инструментов. В его состав могут входить депозиты или облигации, а также фьючерсы и опционы. При этом доходность по депозитам и облигациям известна заранее, а по фьючерсам и опционам — непредсказуема.
      .ids__section
        h3.no-top-margin Какие бывают структурные продукты

        ul
          li Структурные депозиты;
          li Структурированные сделки с портфелем облигаций;
          li Структурные облигации;
          li Структурные ноты.

        p Все они работают по-разному, поэтому расскажем подробнее о каждом из них.
      .ids__section
        figure
          img(src="/assets/images/ids-pic-1.jpg")
          figcaption Фотография сделана Евгением Арутюновым в 2020 году
      .ids__section
        h3 Структурный депозит

        p Инвестор открывает депозит с фиксированным доходом, проценты по которому выплачиваются авансом. Эти проценты сразу же инвестируются в опционы или фьючерсы, и если инвестиционная идея банка оправдывает себя, вкладчик получает больший доход, чем процент по депозиту. Если же инвестиционная стратегия банка окажется неудачной, то инвестор получит назад только сумму вклада — без процентов.

        p Сумма депозита защищена системой страхования вкладов: если у банка отзовут лицензию, вы гарантированно сможете вернуть вложенные деньги в пределах 1,4 млн рублей.
      .ids__section
        button Пока все понятно

      .ids__section
        h3 Структурированная сделка с портфелем облигаций

        p Структурированные сделки с портфелем облигаций предлагают страховые компании, доверительные управляющие и брокеры.

        p Страховая компания не гарантирует дохода, но обычно прописывает в договоре, что сумму вложенных денег вам вернут в любом случае. Если же вы заключаете сделку с брокером или доверительным управляющим, то самостоятельно выбираете, какой суммой готовы рискнуть. Уровень риска может составлять от 0 до 100% от вложенных денег.
      .ids__section
        aside
          h4 Пример

          p Брокер предлагает вам структурированную сделку сроком на год. Инвестиционная идея брокера — биржевой индекс S&P 500 не вырастет и не упадет больше чем на 15%. Вы вносите на брокерский счет сто тысяч рублей и заключаете с брокером структурированную сделку с условием полной защиты капитала. Затем даете брокеру два поручения:

          ul
            li первое — на покупку портфеля облигаций с фиксированной доходностью;
            li второе — на покупку и продажу опционов или фьючерсов.

          p Придерживаясь вашего уровня риска, брокер вложит 90 000 рублей в корпоративные облигации крупнейших российских и западных компаний. А оставшиеся 10 000 рублей — во фьючерсы или опционы.

          p Если инвестиционная стратегия брокера сработает, вы получите доходность 20% годовых. То есть через год брокер выплатит 120 тысяч рублей. Если нет — вернет ваши сто тысяч. В случае убытков по фьючерсам или опционам брокер покроет их за счет дохода по облигациям.

          p Если вы выберете частичную защиту капитала или вариант без защиты капитала, брокер или управляющий может предложить вам больший доход. Например, 40% годовых при защите капитала 50%. Но этот доход вы получите, только если инвестиционная идея сработает. Если же нет — вы потеряете половину вложенных денег.

      .ids__section
        h6 <mark>Важно</mark>
        h3 Структурные облигации

        p Структурные облигации выпускают банки, брокеры, дилеры или специализированные финансовые общества. Это купонные облигации с условной защитой капитала.

        p По структурным облигациям могут выплачиваться два вида купонного дохода — фиксированный и переменный. Размер фиксированного дохода известен заранее. Он может быть большим, но вы получите его лишь в случае, если инвестиционная стратегия оправдается. Или, наоборот, чисто символическим — около 0,01%. В таком случае компания дополнительно выплачивает переменный доход.

        p Размер переменного купона колеблется от нуля до высоких процентов — в 2–3 раза выше, чем по классическим облигациям. И в условиях выпуска облигации указано, в каких случаях на какую сумму вы можете рассчитывать.

        p Облигации не попадают в систему страхования вкладов. Если у банка отзовут лицензию, вам придется ждать окончания длительной процедуры банкротства, чтобы вернуть свои деньги хотя бы частично.
      .ids__section
        figure.ids__figure__S
          img(src="/assets/images/ids-pic-1.jpg")
          figcaption Фотография сделана Евгением Арутюновым в 2020 году
      .ids__section
        h3 Структурные ноты

        p Структурные ноты выпускают западные инвестиционные банки. Их можно купить через российских брокеров и доверительных управляющих.

        p Структурные ноты похожи на облигации. Обычно у них есть определенный срок жизни, и в конце этого срока вам выплачивают номинал ноты полностью или частично — это прописано в условиях выпуска ноты. Плюс к этому вы можете получить дополнительные выплаты — либо в конце срока действия ноты, либо несколько раз во время ее жизни, как купонные выплаты по облигациям.
      
      .ids__section
        figure.ids__figure__XXS
          img(src="/assets/images/ids-pic-1.jpg")
          figcaption Фотография сделана Евгением Арутюновым в 2020 году

        p Доходность по этим ценным бумагам инвестиционные банки привязывают к цене определенного базового актива. Активом становятся акции одной или нескольких компаний, нефть, золото, биржевой индекс. При этом привязка может быть любой. Скажем, банк обещает выплату дохода, если цена актива будет падать, а не расти или останется в пределах оговоренного ценового коридора. Если же это условие не будет выполнено, банк гарантирует возврат только части номинала ноты.

        p Структурные ноты — дорогой продукт. Порог входа обычно не ниже нескольких десятков или даже сотен тысяч долларов. А еще структурные ноты по закону могут приобрести только квалифицированные инвесторы.

  .plug
