.right-shifted {
  @media #{$wds__desktop} {
    padding-left: 12em;
  }
}

.palette {
  display: flex;
  flex-wrap: wrap;

  .palette-bar {
    width: 25%;
    height: 5em;
    padding: calc(#{$wds__density} * 0.4) calc(#{$wds__density} * 0.5);

    @media #{$wds__mobile} {
      width: 50%;
    }
  }
}

.logos-palette {
  display: flex;
  flex-wrap: wrap;

  .inverted-logo-bar {
    width: 50%;
    height: 10em;
    background-image: url('/assets/images/winvestor-inverted-logo-ru.svg');
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 65% auto;
  }
}

.font-letter {
  font-size: 2.5em;
  line-height: calc(#{$wds__density} / 1.2);
  margin-bottom: 0.5em;

  &.regular {
    font-weight: 400;
  }
  &.medium {
    font-weight: 500;
  }
  &.bold {
    font-weight: 700;
  }

  @media #{$wds__mobile} {
    font-size: 2.2em;
  }
}
