.right-shifted {
  @media #{$wds__desktop} {
    padding-left: 12em;
  }
}

.palette {
  display: flex;
  flex-wrap: wrap;

  .palette-bar {
    width: 25%;
    height: 5em;
    padding: calc(#{$wds__density} * 0.4) calc(#{$wds__density} * 0.5);

    @media #{$wds__mobile} {
      width: 50%;
    }
  }
}

.logos-palette {
  display: flex;
  flex-wrap: wrap;

  .inverted-logo-bar {
    width: 50%;
    height: 10em;
    background-image: url('/assets/images/winvestor-inverted-logo-ru.svg');
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 65% auto;
  }
}
